h1 {
  text-align: center;
}
.amin {
  display: flex;
  margin-bottom: 10px;
  margin-top: 25px;
}
.holder {
  height: 30vh;
  width: 33%;
  margin: 1%;
  background-color: rgb(241, 4, 4);
}
.holder:hover {
  background-color: rgb(127, 255, 0);
}
.small {
  width: 50%;
  height: 50%;
  margin: 25%;
}
.large{
  width: 95%;
  height: 95%;
  margin: 2.5%;
}
.mid {
  width: 75%;
  height: 75%;
  margin: 12.5%;
}
